body{
    background-color: #898F9C;
    font-family: Arial;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 5px;
}

input{
    background-color: #FFFFFF;
    border-radius: 5px;
    border-color: #FFFFFF;
    margin : 5px;
}

form{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 5%;
    background-color: #f3f3f3;
    border-radius: 5px;
    border-color: #f3f3f3;
}

h1{
    background-color: #4267B2;
    text-align: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}

#errormsg{
    color : red;
}